*-debug.log
*-error.log
**/.DS_Store
/.idea
/dist
/tmp
/node_modules
oclif.manifest.json

yarn.lock
pnpm-lock.yaml

tsconfig.tsbuildinfo

*.env

certificate.key
d999baae98ac5246568fd726be8832c49626867d.json